{% extends 'base.html.twig' %}

{% block title %}Create a new record - {{ parent() }}{% endblock %}

{#this tells twig which block to put our content in#}
{% block body %}
<h1>{{ title }}</h1>

{# TODO: add image of a record #}

<div>
    Tracks

    <ul>
        {% for track in tracks %}
            <li>
                {{ track.song }} - {{ track.artist|upper }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}